<div align='center'>
    <header>
    <h1>Dodaj Korisnika</h1>
    </header>

    <div style='background-color: midnightblue'>
        <button (click)='nazad()'>Nazad</button> | <button (click)='logOff()'>LogOff</button>
        </div>
        <br><br>    
    <h2><span>Dodaj poljoprivrednika</span></h2>
    <form class='forma'>
        <table class='tabela'>
            <tr>
                <td>Ime:</td>
                <td>
                    <input type='text' name='ime'
                    [(ngModel)] = 'ime'>
                </td>
            </tr>
            <tr>
                <td>Prezime:</td>
                <td>
                    <input type='text' name='prezime'
                    [(ngModel)] = 'prezime'>
                </td>
            </tr>
            <tr>
                <td>Username:</td>
                <td>
                    <input type='text' name='username'
                    [(ngModel)] = 'username'>
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input type='password' name='password'
                    [(ngModel)] = 'password'>
                </td>
            </tr>
            <tr>
                <td>mestoRodjenja:</td>
                <td>
                    <input type='text' name='mestoRodjenja'
                    [(ngModel)] = 'mestoRodjenja'>
                </td>
            </tr>
            <tr>
                <td>datumRodjenja:</td>
                <td>
                    <input type='date' name='datumRodjenja'
                    [(ngModel)] = 'datumRodjenja'>
                </td>
            </tr>
            <tr>
                <td>kontaktTelefon:</td>
                <td>
                    <input type='text' name='kontaktTelefon'
                    [(ngModel)] = 'kontaktTelefon'>
                </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>
                    <input type="text" name='email'
                    [(ngModel)] = 'email'>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button (click)= 'register1()'>Dodaj poljoprivrednika</button>
                </td>
            </tr>
        </table>
    </form>
    <br>
    <span>
        {{message}}
    </span>
    <br><br>
</div>

<div align='center'>
    
    <h2><span>Dodaj preduzece</span></h2>
    <form class='forma'>
        <table class='tabela'>
            <tr>
                <td>Naziv</td>
                <td>
                    <input type='text' name='naziv'
                    [(ngModel)] = 'naziv'>
                </td>
            </tr>
            <tr>
                <td>Username:</td>
                <td>
                    <input type='text' name='username2'
                    [(ngModel)] = 'username2'>
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input type='password' name='password2'
                    [(ngModel)] = 'password2'>
                </td>
            </tr>
            <tr>
                <td>datumOsnivanja:</td>
                <td>
                    <input type='date' name='datumOsnivanja'
                    [(ngModel)] = 'datumOsnivanja'>
                </td>
            </tr>
            <tr>
                <td>Mesto:</td>
                <td>
                    <input type='text' name='mesto'
                    [(ngModel)] = 'mesto'>
                </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>
                    <input type="text" name='email2'
                    [(ngModel)] = 'email2'>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button (click)= 'register2()'>Dodaj preduzece</button>
                </td>
            </tr>
        </table>
    </form>
    <br>
    <span>
        {{message2}}
    </span>

</div>
